@import "tailwindcss";
@import "tw-animate-css";

/* Dark mode variant */
@custom-variant dark (&:is(.dark *));

/* Tailwind theme */
@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
}

/* Light theme */
:root {
  --background: oklch(1 0 0);

  --primary: oklch(0.205 0 0);
}

/* Dark theme */
.dark {
  --background: oklch(0.145 0 0);

  --primary: oklch(0.922 0 0);
}

body {
  height: 100vh;
}
